<template name="topics">
  {{#each topics}}
    {{> topic}}
  {{/each}}
</template>

<template name="topic">
  <div>
      <h5>{{topicValue}}</h5>
      <hr>
  </div>
</template>

<template name="variables">
  {{#each variables}}
    {{> variable}}
  {{/each}}
</template>

<template name="variable">
  <div>
      <h5>{{variableLabel}}</h5>
      <div class="question">{{question}}</div>
      <hr>
  </div>
</template>


<template name="category">
  <div>
      <div>Category: {{categoryLabel}}
      {{#each categoryData}}
        {{> dataRecord}}
      {{/each}}
      </div>
  </div>
</template>

<template name="dataRecord">
  {{year}} {{freq}}
</template>
